/* * {
  margin: 0;
  padding: 0;
} */

.create-button {
  width: 60px;
  height: 60px;
  background-color: rgba(9, 121, 118, 1);
  color: white;
  border: solid 2px white;
  border-radius: 40px;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 280px;
  transform: rotate(0);
  transition: .3s ease;
}

.create-button:hover {
  transform: rotate(224deg);
}