h1 {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: white;
  font-size: 36px;
  text-align: center;
  margin: 0;
  padding: 48px;
  text-shadow: 30px;
  z-index: 1;
  padding: 20px;
  font-weight: normal;
}
.container {
  z-index: 0;
}
h1 span {
  font-weight: bold;
}